<div class="mb-5" >
  <nav class="navbar bg-color fixed-top" >
    <div class="container-fluid" >
      <div class="navbar-brand" (click)="homepage()">
        <h2><b>{{homedata.ecommerce}}</b></h2>
      </div>
      <div>
        <button class="btn position-relative">
          <img src="../../assets/home/icons/1.png">
        </button>
        &nbsp;
        <button class="btn position-relative">
            <img src="../../assets/home/icons/2.png">
            <img class="badge" src=" ../../../../assets/home/icons/4.png" >
        </button>
        &nbsp;
        <button class="btn position-relative">
          <img src="../../assets/home/icons/3.png">
        </button>
        &nbsp; &nbsp;
        <button class="navbar-toggler menu-icon btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" >
          <img src="../../assets/home/icons/menu_icon.png">
        </button>
      </div>

      <div class="offcanvas offcanvas-start color-white" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header justify-content-end">          
          <button type="button" class="btn close-button rounded-0 color-white" data-bs-dismiss="offcanvas" >
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-arrow-left arrow-btn" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="homepage()">{{homedata.home}}</a>
            </li>
            <li class="nav-item">
              <div class="nav-link" (click)="aboutpage()">{{homedata.about}}</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="productpage()">{{homedata.product}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="contactpage()">{{homedata.contactus}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>