.copyright {
    background-color: #023f3b;
    height: 35px;
    font-size: 12px;
    padding-top: 8px;
}
.space {
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}
.subscribe-form {
    height: 30px;
}
button {
    text-align:center;
}
label {
    margin-right: 15px;
}
.last-line {
    width: 150px;   
}
.margin-right {
    margin-right: 30px;
}
.about-last{
    font-size: 80%;
}
.footer-head {
    margin-right: -100px;
}
.footer-btn {
    position: relative;
    margin-top: -5px;
}