
<nav class="navbar row">
  <div class="bg-color">
    <div class="row justify-content-center">
      <div class="col-5 mt-5">
        <div class="home-title mb-5 mt-5">
          <div class="latest">{{homeobj.title1}}</div>
          <div><b>{{homeobj.title2}}</b></div>
        </div>
        <div>
          <button class="btn text-bg-light p-2 rounded-0 shop-now-btn">
            {{homeobj.shopnow}}
          </button>
        </div>
      </div>
      <div class="col-5 justify-content-end mt-4">
        <span class="home-img-size">
          <img
            class="img-fluid bg-color"
            src={{homeobj.bgimage}}
            width="78%"
            alt="homepage"
          />
        </span>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div id="demo" class="carousel slide mt-4 mx-auto" style="width: 30%" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators carousel-positioning">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]="home==homeobj.carousals[0]" *ngFor="let home of homeobj.carousals">
        <img src={{home.carousal}} alt="carausal" class="d-block" style="width: 100%"/>
      </div>
    </div>
  </div>


  <div class="text-center row mt-5">
    <h4 class="col-12">
      <b class="home-color">{{homeobj.trending}}</b><b>{{homeobj.category}}</b>
    </h4>
  </div>
  <div class="text-center mt-5">
    <div class="row justify-content-around">
      <div *ngFor="let category of this.category" class="col-md-3">
        <div class="text-center">
          <img class="card-img-top p-5" [src]="category.images"/>
          <p class="card-text">{{ category.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="justify-content-center d-flex mt-5">
    <h4>
      <b class="home-color">{{ homeobj.featured }}</b>
      <b>{{ homeobj.brands }}</b>
    </h4>
  </div>
  <div class="p-4 mt-2">
    <div class="row border" style="box-shadow: 0 0 5px 2px rgb(45, 45, 45)">
      <div *ngFor="let home of homeobj.products" class="col-md-3">
        <div class="card custom-card border-0 text-center">
          <div class="">
            <img
              [src]="home.image"
              class="card-img-top p-2 img-featured"
              alt="{{ home.name }}"
            />
          </div>
          <div>
            <h5 class="card-text">{{ home.pname }}</h5>
            <h5 class="card-text mb-2">{{ home.pprice }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="justify-content-center d-flex mt-5">
    <h4>
      <b class="home-color">{{homeobj.contact}}</b>
      <b>{{homeobj.us}}</b>
    </h4>
  </div>
</nav>

<app-contact></app-contact>
