  .home-title {
    font-size : 4rem;
    line-height: 60px;
    font-weight: bolder;
  }
  .latest {
    color:#0fbbad;
  }
  .home-img-size{
    padding: 5rem;
    height: auto;
  }
  .bg-color{
    background-color: rgba(232,233,233,255) !important;
  }
  .shop-now-btn{
    box-shadow: -10px 10px 2px 0px black;
    margin-top: 25px;
  }
  .discount {
    background-color: #0dbbac;
  }
  .carousel-indicators button {
    width: 12px;
    height: 12px;
    background-color: #0dbbac;; /* Default color for non-active buttons */
    border-radius: 50%;
    border: 1px solid #000; /* Add a border for a round dot appearance */
    margin: 0 5px; /* Adjust margin as needed for spacing */
}

.carousel-indicators .active {
    background-color: black; /* Color for the active button */
}
.carousel-positioning{
  position: relative;
  top:167px;
}
.img-featured {
  width: 40%;
  height: 161px;
}
