  .home-title {
    font-size : 4rem;
    font-weight: bolder;
  }
  .latest {
    color:#117970;
  }

  .home-img-size{
    width: 65%;
    padding: 0.5rem;
    height: auto;
  }
  .bg-color{
    background-color: rgb(183, 183, 183) !important;
  }
  .shop-now-btn{
    box-shadow: -10px 10px 2px 0px black;
    margin-bottom: 25px;
  }
  .discount {
    background-color: #0dbbac;
  }
  /* .carousel-size {
    width: 30%;
    height: 10%;
  } */

  .carousel-indicators button {
    width: 12px;
    height: 12px;
    background-color: #0dbbac;; /* Default color for non-active buttons */
    border-radius: 50%;
    border: 1px solid #000; /* Add a border for a round dot appearance */
    margin: 0 5px; /* Adjust margin as needed for spacing */
}

.carousel-indicators .active {
    background-color: black; /* Color for the active button */
}
.carousel-positioning{
  position: relative;
  top:167px;
}

