<div class="d-flex justify-content-center mb-1">
    <form class="p-5 mt-2 contact">
        <div class="form-group mb-1">
          <input type="text" placeholder="Name" class="border-0 mb-3 box shadow">
          <input type="email" class="form-control  rounded-0 mb-3 border-0 shadow" placeholder="Email">
          <input type="number" placeholder="Phone" class="border-0 mb-3 box shadow">
          <textarea class="form-control rounded-0 mb-3 border-0 shadow" rows="3" placeholder="Message"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark rounded-0">Send</button>
        </div>
    </form>
</div>
