<div class="d-flex justify-content-center mb-1">
    <form [formGroup]="contact" class="p-5 mt-2 contact" (ngSubmit)="onSubmit()">
        <div>
            <div class="form-group mb-1" >
                <input type="text" placeholder="Name" class="border-0 mb-3 box shadow">

                <input formControlName="email"  type="email" class="form-control  rounded-0 mb-3 border-0 shadow" placeholder="Email">
                <div *ngIf="this.contact.get('email').touched && !contact.get('email').valid " class="validation">*Valid Email is Required</div>

                <input formControlName="phone" type="number"  placeholder="Phone" class="border-0 mb-3 box shadow">
                <div *ngIf="this.contact.get('phone').touched && !this.contact.get('phone').valid ">
                    <div class="validation" *ngIf="this.contact.get('phone').errors.required" >*Valid Phone Number is Required</div>
                    <div class="validation" *ngIf="this.contact.get('phone').errors.minlength && contact.get('phone').errors.maxlength" >*Phone Number should be 10 digits </div>
                </div>

                <textarea class="form-control rounded-0 mb-3 border-0 shadow" rows="3" placeholder="Message"></textarea>
              </div>
              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-dark rounded-0">Send</button>
              </div>
        </div>
    </form>
</div>
