/* You can add global styles to this file, and also import other style files */

.bg-color{
    background-color: rgba(232,233,233,255);
  }
.green-color{
  background-color: #01312e;
  /* height: 85px; */
}
.navbar-brand{
  color:#ffffff;
}
.color-white{
  color:#ffffff;
}
.home-color {
  color: #0dbbac;
}
.img-margin {
  margin: 20px;
}